<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title th:text="|Album: ${album.albumName}|">Single album</title>
  <link rel="stylesheet" th:href="@{/css/album.css}" href="../static/css/album.css" />
  <link rel="stylesheet" th:href="@{/css/layout.css}" href="../static/css/layout.css" />
</head>

<body>
  <div class="albumCover_background"></div>
  <div class="container">
    <header>
      <nav class="nav">
        <ul class="nav_links">
          <li class="nav_link">
            <a th:href="@{/bands}">
              Back to list of bands
            </a>
          </li>
          <li>
            <a th:href="@{/artists}">
              Back to list of artists
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="albumContent">

      <section class="albumContent_cover_songs">

        <figure class="albumContent_cover">
          <h2 th:text="${album.albumName}"></h2>
          <img id="albumCoverImage" th:src="|@{/images/}${album.coverImage}|" alt="image for album cover" />
          <figcaption th:text="${album.releaseDate}"></figcaption>
        </figure>

        <article class="albumContent_songs">
          <h2 id="songsH2">Songs</h2>
          <ol class="songList">
          </ol>
        </article>

      </section>

      <section class="albumContent_artists">

        <article class="sectionArtists">
          <h2>List of artists on album</h2>
          <ul class="artistsList">

          </ul>
          <div class="hide" id="modal-box">
            <label for="artistName" >Artist name: 
              <input type="text" name="artistName" required="true" />
            </label>
            <label for="bandName"> 
              <input type="text" th:value="${album.band.bandName}" name="bandName" disabled="true" />
            </label>
            <label for="artistId"> 
              <input type="text" name="artistId" disabled="true" />
            </label>
          <button id="modal-submit">Submit</button>
        </div>
        </article>
      </section>

      <section class="sectionAddArtist">
        <fieldset class="addArtist_fieldset">

        </fieldset>
        <button class="btnAddArtist" type="submit">Add artist</button>

      </section>

      <section class="sectionComments">
        <label for="commentDescription">
          <input type="text" name="commentDescription" id="commentDescription" />
          <button id="submitButton" type="submit">Submit Comment</button>
        </label>
        <ul class="albumComments">
        </ul>
      </section>

    </main>
    <footer>
      <small>&copy; Galactic Federation of FullStack Development</small>
    </footer>
  </div>
  <script src="/js/album.js"></script>
  <script src="/js/artist.js"></script>
  <script src="/js/addArtistFieldSet.js"></script>
</body>

</html>