<!DOCTYPE html>
<html>

<head>
  <title>All Artists</title>
  <link rel="stylesheet" th:href="@{/css/layout.css}" href="../static/css/layout.css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a th:href="@{/bands}">
            Bands
          </a>
        </li>
      </ul>
    </nav>
    <h1>All Artists</h1>
  </header>
  <main>
    <section class="sectionArtists">
      <ul class="artistsList">
      </ul>
    </section>
      <section class="addArtist">

      </section>
  </main>
  <footer>
    <small>&copy; Galactic Federation of FullStack Development</small>
  </footer>
  <script src="/js/artist.js"></script>
  <!-- <script src="/js/datalistBands.js"></script> -->
</body>

</html>