<!DOCTYPE html>
<html>

<head>
  <title>Single Bands</title>
  <link rel="stylesheet" th:href="@{/css/layout.css}" href="../static/css/layout.css" />
</head>

<body>
  <header>
    <li>
      <a th:href="@{/artists}">
        Back to list of artists
      </a>
    </li>
    <li>
      <a th:href="@{/bands}">
        Back to list of bands
      </a>
    </li>
    <h1 th:text="${band.bandName}">Single Band</h1>
  </header>
  <main>
    <section class="sectionArtists">
      <h2>
        List of Artists in band
      </h2>
      <ul class="artistsList">
      </ul>
      <div class="hide" id="modal-box">
					<label for="artistName" >Artist name: 
						<input type="text" name="artistName" required="true" />
					</label>
					<label for="bandName"> 
						<input type="text" th:value="${band.bandName}" name="bandName" disabled="true" />
          </label>
          <label for="artistId"> 
						<input type="text" name="artistId" disabled="true" />
					</label>
				<button id="modal-submit">Submit</button>
      </div>
    </section>
    <section class="sectionAddArtist">
      <fieldset class="addArtist_fieldset">

      </fieldset>
      <button class="btnAddArtist" type="submit">Add artist</button>
      </section>
    <h2>
      List of Albums in band
    </h2>
    <ul class="albumsList">
    </ul>
    <section class="addAlbum">
      <label for="albumName">
        <input type="text" name="albumName" id="albumName" required="true" placeholder="album name" />
      </label>
      <label for="albumGenre">
        <input type="text" name="albumGenre" id="albumGenre" required="true" placeholder="album genre" />
      </label>
      <label for="albumReleaseDate">
        <input type="date" name="albumReleaseDate" id="albumReleaseDate" placeholder="album release date" />
      </label>
      <label for="bandRecordLabel">
        <input th:value="${band.recordLabel.labelName}" name="albumRecordLabel" type="text" hidden="true" />
      </label>
      <button class="btnAddAlbum" type="submit">Add album</button>
    </section>
  </main>
  <footer>
    <small>&copy; Galactic Federation of FullStack Development</small>
  </footer>
  <script src="/js/artist.js"></script>
  <script src="/js/band.js"></script>
  <script src="/js/addArtistFieldset.js"></script>
  <!-- <script src="/js/datalistArtists.js"></script> -->
</body>

</html>